@rendermode InteractiveServer
@inject ILogger<DayWeekView> Logger

@using chron_expression_web.Client.ViewModels
@using chron_expression_web.Client.Models

@inject DayWeekViewModel ViewModel
 

<table cellspacing="5" cellpadding="5">
    <thead>
        <tr>
            @foreach (var day in ViewModel.dayWeek.Days)
            {
                <th>@day</th>
            }
        </tr>
    </thead>
        
    <tbody>
        <tr>
        @foreach (var CheckableDayOfWeek in ViewModel.dayWeek.CheckableDaysOfWeek) 
        {
            <td><input type="checkbox" @onchange = "(() => {CheckableDayOfWeek.FlipIsSelected(); ViewModel.OnPropertyChanged();})"/></td>
        }
       
        </tr>        
    </tbody>
</table>
<br>
<!--<input type="button" value= "Submit" @onclick="DayWeek.GetChron">-->

<br>
<p>cron:</p>
<p>@ViewModel.dayWeek.output</p>

 
