@inherits LayoutComponentBase

<div class="center">

    <div class="sidebar">
    </div>
    <h2>
    OOO generator
    </h2>
    <main>
        @Body
        <article class="content px-4">
            
        </article>
        
    </main>
</div>

<style>
.center {
    margin: auto;
    width: 500px;
    margin-left: 0px;
    margin-right: auto;
}

</style>
