@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        
    </div>
    <h2>
    OOO generator
    </h2>
    <main>
        <article class="content px-4">
            @Body
        </article>
        
    </main>
</div>
